<!DOCTYPE html>
<html lang="pt-BR" ng-app="Mensagem">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <title>Angujar JS</title>
    <script src="angularJs/angular.js"></script>
    <script>
        angular.module("Mensagem", []);
        angular.module("Mensagem").controller("BemVindosCtrl",
            function($scope) {
                $scope.message = "Olá sejam bem Vindos";
            });
    </script>
</head>
<body>
    <div ng-controller="BemVindosCtrl">{{message}}</div>
</body>
</html>