<!DOCTYPE html>
<html lang="pt-BR" ng-app="CadClientes">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de clientes</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"crossorigin="anonymous"></script>
    
    <script src="angular.min.js"></script>
    <script src="directives/dir-alerta.js"></script>
    <script src="angular-locale_pt-br.js"></script>
    
    <script>
        angular.module("CadClientes", []);
        angular.module("CadClientes").controller("CadClientesCtrl",
            function ($scope) {
                $scope.titulo = "Cadastro de Clientes";

                $scope.clientes = [
                    { nome: "Hugo", codigo: 1, data: new Date(), valor: 100},
                    { nome: "Ricardo", codigo: 2,  data: new Date(), valor: 200},
                    { nome: "Junior", codigo: 3,  data: new Date(), valor: 300},
                ]

                $scope.tipoClientes = [
                    {tipo:"Pessoa Jurídica", cod:01, local: "Nacional"},
                    {tipo:"Pessoa Física", cod:02, local: "Nacional"},
                    {tipo:"Sócio", cod:03, local: "Nacional"},
                    {tipo:"Exportador", cod:04, local: "Internacional"},
                    {tipo:"Importados", cod:05, local: "Internacional"},
                ]


                $scope.adicionarClientes = function(cliente){
                    $scope.clientes.push(angular.copy(cliente));
                    delete $scope.cliente;

                }

                $scope.classe1 = "selecionado";
                $scope.classe2 = "negrito";

                $scope.apagarClientes = function(clientes){
                    $scope.clientes = clientes.filter(function (cliente){
                        console.log(cliente.selecionado);
                        if(!cliente.selecionado){
                            return cliente;
                        };
                    });
                }

                $scope.temClienteSelecionado = function(clientes){
                    return clientes.some(function (cliente){
                        return cliente.selecionado; 
                    })
                }
            })
    </script>
</head>

<body ng-controller="CadClientesCtrl">
    <div class="jumbotron">
        <h3>{{titulo}}</h3>
        
        <div dir-alert></div>

        <input class="form-control" type="text" placeholder="Buscar cliente" ng-model="buscar">
        <table class="table" ng-show="clientes.length > 0">
            <tr>
                <td align="center"></td>
                <td align="center"><b>Nome</b></td>
                <td align="center"><b>Código</b></td>
                <td align="center"><b>Tipo cliente</b></td>
                <td align="center"><b>Data de cadastro</b></td>
                <td align="center"><b>Valor</b></td>
            </tr>
            <tr ng-class="{'selecionado negrito': cliente.selecionado}" ng-repeat="cliente in clientes | filter:buscar | orderBy: nome | limitTo:2">
                <td>
                    <input type="checkbox" ng-model="cliente.selecionado">
                </td>
                <td>{{cliente.nome | uppercase}}</td>
                <td>{{cliente.codigo}}</td>
                <td>{{cliente.tipoClientes.tipo}}</td>
                <td>{{cliente.data | date: 'dd/MM/yyyy'}}</td>
                <td>{{cliente.valor | currency}}</td>
            </tr>
        </table>
        <hr>
        <form name="clienteForm" class="formulario">
            <input class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome" ng-required="true">
            <input class="form-control" type="text" ng-model="cliente.codigo" placeholder="Código" ng-required="true">
            <select class="form-control" 
                    ng-model="cliente.tipoClientes" 
                    ng-options="tipoCliente.tipo group by tipoCliente.local for tipoCliente in tipoClientes" 
                    ng-required="true">
                <option value="">Selecione um tipo de cliente</option>
            </select>
        </form>

        <button class="btn btn-primary btn-block" ng-disabled="!cliente.nome || !cliente.codigo"  ng-click="!clienteForm.$valid">Adicionar cliente</button>
        <button class="btn btn-danger btn-block" ng-if="temClienteSelecionado(clientes)"  ng-click="apagarClientes(clientes)">Apagar cliente</button>
        <br><br>  
        <div ng-include="'rodape.html'"></div>
    </div>

    

</body>

</html>