.jumbotron{
    width: 600px;
    padding: 10px 20px;
    text-align: center;
    margin: 15px auto auto;
}

.table{
    margin-top: 15px;
}

.form-control{
    margin-bottom: 10px;
}

.formulario{
    width: 100%;
}

.selecionado {
    background-color: #9FB2F9;
}

.negrito {
    font-weight:bold;
}

.rodape {
    text-align: center;
}

.dir-alerta{
    background-color: #f2dede;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.dir-alerta-title{
    color: #af4341;
    font-weight: bold;
    font-size: 20px;
}

.dir-alerta-message{
    color:#af4341;
}