<div class="dir-alerta">
    <div class="dir-alerta-title">
        Aconteceu um problema!
    </div>
    <div class="dir-alerta-message">
        Não foi possível carregar os dados.
    </div>
</div>